/* ==========================================================================

  Name: style.css
  Author: Juuso Karlström
  Author-URI: http://iuuso.github.io/
  Date: August 2015

==========================================================================*/

html
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    background: none;
}

body
{
    font: 10pt/1.5em 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.75;

    width: 100%;

    text-align: center;

    background: #f9f9f4;
}

/* Make the images scalable */

img
{
    max-width: 100%;
    margin: 0;
} 

/* ==========================================================================

    HEADER

========================================================================== */

header
{
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;

    width: 100%;
    height: 3em;
    margin: 0;
    padding: 0;
    
    font: 10pt/1.5em 'Roboto Slab', Arial, sans-serif;
    font-weight: 700;
    font-size: 13px;e

    border-bottom: 4px solid #dbdbd5;
    background: white;
}

    header ul { display: inline; list-style-type: none; }
    header li { float: right; padding: .5em .7em; }
    header li:hover > ul {
        display: block;
        background: white;
    }

    header ul ul 
    { 
        display: none;
        height: 100px;
        width: 100px;
        border: 2px solid #dbdbd5;
        text-align: center;
    }

    .city-selector a:link,
    .city-selector a:visited
    {
        color: #45a8cd;
        text-decoration: none;
    }

    /*.city-selector ul { display: none; }
    .city-selector li:hover > ul {display: block;} */
    .login-registration a:link,
    .login-registration a:visited
    {
        color: #bf243f;
        text-decoration: none;
    }

    /* Separator for items on header */
    .separator { color: #dbdbd5; font-size: 1.33em}


/* ==========================================================================

    FOOTER

========================================================================== */

footer
{
    position: relative;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 15em;

    background: -webkit-linear-gradient(#eaeae6, #f9f9f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eaeae6, #f9f9f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eaeae6, #f9f9f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eaeae6, #f9f9f4); /* Standard syntax */

    -webkit-box-shadow: 0 0 15px 4px #dcdcd6 inset;
    -moz-box-shadow: 0 0 15px 4px #dcdcd6 inset;
    box-shadow: 0 0 15px 4px #dcdcd6 inset;
}

#footerlinks
{ 
    min-width: 90%; 

    margin: 40px auto;
    padding-top: 10px;
    /*float: left; */
    height: 5em;

    font: 10pt/1.5em 'Roboto Slab', Arial, sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 14px;
    border-bottom: 2px solid #ccc;

}
footer img { width: 35px; }
footer ul { list-style-type: none; float: left;}
footer li { display: inline; text-transform: uppercase; padding: 1em 1em; }
#footerlinks a:link { color: #e93050; text-decoration: none; }
#footerlinks a:hover { color: #e75169; }
.left-aligned { float: left; margin: 19px auto; }
.right-aligned { float: right; min-width: 110px; }
.social-button { padding: 0; margin: auto -13px; }

#footer-contact {

    min-width: 40%;
    margin: 0 auto;
    color: #8B8878;
    
    font: 10pt/1.5em 'Roboto Mono', Arial, sans-serif;
    font-weight: 600;
    font-size: 11px;
    margin-left: 20px;
    
}

#footer-contact ul { list-style-type: none; }
#footer-contact li { display: inline; text-transform: uppercase; }
.footer-contact-heavy { color: #4D4D4D; margin-left: 1px}
.footer-contact-ligth { color: #ccc; margin-left: 20px; }


/* The badge on header displaying the current city */
#badge
{
    position: fixed;
    z-index: 100;
    top: 0em;
    left: 10em;
    padding: 3px auto;

    width: 185px;
    height: 130px;

    background-image: url("../img/badge-bg.png");
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 2px #dbdbd5d5;
}

#badgeheader 
{
    font-size: 140%;
    margin: 3px auto 0px;
    font-weight: 700; 
}

#badgecity
{
    font-size: 2em;
    margin: 0px auto 0;
    font-weight: 900;


}

/* Banner image */
#banner { margin-top: 5em; }

/* ==========================================================================

    Container that holds the grid elements.

========================================================================== */

#container
{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    max-width: 900px;
}


/* Class for the content "boxes" */
.container-box
{
    width: 100%;
    max-width: 286px;
    max-height: 245px;
    margin: 0 auto;
    padding-bottom: 2px;

    border: 2px solid #dbdbd5;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background: white;

    font-weight: 400;
    text-align: left;
}

.container-box a:link, a:visited { text-decoration: none; padding-left: 1em;}
.container-box p { padding-left: .5em; }

/* Top picture on the Grid */
#grid-top
{
    width: 100%;
    max-width: 900px;
    height: 300px;
    margin: 0 auto 2em ;

    border: 2px solid #dbdbd5;
    border-radius: 5px;
    background: url('../img/header-bg.png'); /* The "curtain" image */
    background-position: center;
}
    #grid-top-left 
    {
        width: 30%;
        height: 100%;
        float: left;
        margin-left: 20px
    }

    #megapalkinto 
    {
        text-transform: uppercase;
        color: #3b3838;
        font-size: 12px;
        opacity: 0.9;
        max-width: 100%;
        min-height: 22px;
        border: 3px solid #888282;
        border-radius: 20px;
        margin: 20px auto;
        background: #fefefe;
    }

    /* Big advertisement texts on top of the grid */
    .awards {text-transform: uppercase; color: white; }
    #product-big-text {
        font: 'Roboto Slab'. Arial, sans-serif;
        font-size: 380%;
        line-height: 0.8; 
        text-align: left;
        text-shadow: 2px 4px 5px #4D4D4D; 
        
    }
    #product-small-text { 
        font-family: 200%;
        margin: 0 auto;
    }

    /* Center picture and badge */
    #grid-top-center {
        float: left;
        margin: 0 0 0 20px;
        height: 80%;
    }
   
    #grid-top-center img { height: 100%; }
    #camera-badge {
        background: #e92b4c;
        border-radius: 10px;
        text-transform: uppercase;
        margin-top: -40px;
    }

    #center-left { float: left; }
    #center-middle { float: center; }
    #center-right { float: right;}

    #bottom-left { float: left; height: 600px; }
    #bottom-middle { float: center; height: 600px; }
    #bottom-right { float: right; height: 600px; }

/* ==========================================================================

    Making the layout more responsive to different screen sizes

========================================================================== */


/* Settings for a slightly smaller screen */
@media screen and (min-width: 901px) and (max-width: 1100px) {
    .container-box { max-width: 30%; font-size: 90%; }
}

/* Settings for the width of values between 601px and 900px */
@media screen and (min-width: 601px) and (max-width: 900px) {
    #container { width: auto; min-width: 0; margin-left: 0; font-size: .8em;}
    #badge { display: none; }
    .separator { display: none; }
    header ul { position: relative; display: block; height: 500px;}
    .container-box { margin: 1em auto; max-width: 30%;}
    footer li { font-size: 70%;}
    .social-button { margin-right: .1em}
}

/* Settings for width of 600px */
@media screen and (max-width: 600px) {
    #container { width: 100%; }
    .container-box { max-width: 90%; margin: 10px auto; max-height: 1000px;}
    .container-box p { font-size: 1.2em;}
    #container img { width: 100%; }

    #grid-top { width: 100%; }

    #center-left { float: none;  width: 100%; height: 400px;}
    #center-middle { float: none; margin: 0 auto; height: 400px; width: 100%;}
    #center-right { float: none; width: 100%; height: 400px;}
    #bottom-left { float: none; width: 100%; height: 400px;}
    #bottom-middle { float: none; width: 100%; height: 400px;}
    #bottom-right { float: none; width: 100%; height: 400px;}
    #badge { display: none; }

    header { height: 10em; position: static; top: 0px;}
    header ul li { display: block; float: left; width: 100%;}
    .separator {display: none; }
    footer li { display: block; font-size: 70%; }
    .social-button { display: inline-block; margin: .1em; }
}